/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  --bg-color: #000028;
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-text-color: #000028;
  --accent-color: #ff0070;
  --hover-accent-color: rgba(255, 0, 112, 0.4);
  --marker-color: #ff0070;
  background-image: url("../images/cover-image-dark.png");
  background-image: image-set(
    url("../images/cover-image-dark.avif") type("image/avif"),
    url("../images/cover-image-dark.png") type("image/png")
  );
}

@media (prefers-color-scheme: dark) {
  .page {
    --bg-color: #000028;
    --heading-color: #db00ff;
    --text-color: #f1b2ce;
    --accent-text-color: #000028;
    --accent-color: #ff0070;
    --hover-accent-color: rgba(255, 0, 112, 0.4);
    --marker-color: #ff0070;
    background-image: url("../images/cover-image-dark.png");
    background-image: image-set(
      url("../images/cover-image-dark.avif") type("image/avif"),
      url("../images/cover-image-dark.png") type("image/png")
    );
  }
}

@media (prefers-color-scheme: light) {
  .page.theme_dark .header__decor {
    display: block;
  }
}