.page {
  color: var(--text-color, #f1b2ce);
  background-color: var(--bg-color, #000028);
  inline-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  margin: auto;
}

.title {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--accent-color, #ff0070);
}

.title-decor {
  color: var(--accent-text-color, #000028);
  position: relative;
  background-color: var(--marker-color, #ff0070);
}

.link {
  text-shadow: 2px 2px 0 var(--marker-color, #ff0070);
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  appearance: none;
}

.link:hover {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
}

.link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color, #f1b2ce);
}

.list {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}

.card {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 0.625rem;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
  inset-inline-start: 0;
  inset-block-end: 0;
}

.header {
  height: calc(100vh - 2.5rem);
  margin: 1.25rem;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-list {
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.header__theme-menu-button {
  background-color: transparent;
  padding-inline: 0.8rem;
  padding-block: 0.25rem;
  cursor: pointer;
  border: 1px solid transparent;
  color: var(--accent-color, #ff006f);
  line-height: 0.8;
  appearance: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-accent-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
  -webkit-outline: none;
  -moz-outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
  pointer-events: none;
}

.header__decor {
  position: absolute;
  inset-inline-end: 0.55rem;
  inset-block-start: 0.5rem;
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.header__decor::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color, #ff0070);
  inset-inline-end: 1.25rem;
  inset-block-start: -0.35rem;
}

.header__title {
  color: var(--heading-color, #db00ff);
  font-size: var(--logo-size, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  text-shadow: 4px 4px 0 var(--marker-color, #ff0070);
  font-weight: 700;
  line-height: 0.85;
  align-self: center;
  margin-inline-start: -1.25rem;
}

.header__description {
  justify-self: end;
  inline-size: 50%;
  align-self: center;
}

.content {
  padding: 3.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.reasons .list-item:has(.card),
.advices .list-item:has(.card),
.advices .list-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.problems .list-item:nth-child(2),
.problems .list-item:nth-child(3),
.problems .list-item:nth-child(4) {
  grid-row-start: 2;
}

.advices .list-item:nth-child(1) {
  grid-row: span 2;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.gallery .list-item:first-child,
.gallery .list-item:last-child {
  grid-column: span 2;
}

.gallery .list-item:nth-child(2),
.gallery .list-item:nth-child(3) {
  grid-row: span 2;
}

.gallery.list-item {
  display: block;
}

.gallery-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  height: calc(100vh - 2.5rem);
  min-height: 668px;
  margin: 1.25rem;
  position: relative;
  display: flex;
}

.footer__title {
  color: var(--heading-color, #db00ff);
  font-size: var(--logo-size, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--marker-color, #ff0070);
  margin: auto;
}

@media (width <= 768px) {
  .page {
    --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .reasons.list,
  .advices.list {
    grid-template-columns: 30.9vw 1fr 1fr;
  }

  .header__theme-menu {
    justify-self: flex-end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .problems .list-item:nth-child(2),
  .problems .list-item:nth-child(3),
  .problems .list-item:nth-child(4) {
    grid-column: span 3;
    grid-row: span 1;
  }
}

@media (width < 600px) {
  .list {
    display: flex;
    flex-direction: column;
    column-gap: 0;
  }
}

@media (width <= 375px) {
  .header,
  .footer {
    margin: 0.625rem;
    height: calc(100vh - 1.25rem);
  }

  .header__title {
    margin-inline-start: 0;
  }

  .header__description {
    inline-size: 100%;
  }

  .content {
    padding: 2.5rem 0.625rem;
    gap: 3.125rem;
  }
}
