/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono";
  --gap: 1.25rem;
  --bg-color: #000028;
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-text-color: #000028;
  --accent-color: #ff0070;
  --hover-accent-color: rgba(255, 0, 112, 0.4);
  --marker-color: #ff0070;
}
